* {
    margin: 0;
    padding: 0;
}

/*header*/

.nav-links {
    width: 100%;
}

.nav-links img {
    width: 16%;
    margin-left: 6%;
    margin-right: 6%;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.nav-links li {
    list-style: none;

    padding-right: 4%;
    padding-top: 2%;
}

.nav-links a {

    color: #003366;
    font-weight: bold;
    text-decoration: none;
}

.nav-links #lienContacter {
    font-weight: bold;
    color: #89BF50;
}

.nav-links #lienContacter:hover {
    text-decoration: underline solid #89BF50 2px;
}

.nav-links a:hover {
    text-decoration: underline solid #003366 1px;
}

/* section 1 */

#section1 {
    background-image: url(images/headerImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
}

#section1 h2 {
    color: #89BF50;
    text-shadow: 1px 1px green;
    background-color: white;
    width: max-content;
    margin: auto;
    padding: 0.2%;
    border-radius: 1%;
    background-color: white;
    opacity: 0.7;
    margin-bottom: 4%;
}

#section1 h1 {
    margin-bottom: 7%;
}

#section1 button {
    background-color: #89BF50;
    cursor: pointer;
    padding: 1%;
    border-radius: 5%;
    box-shadow: 1px 1px 1px grey;
    margin-bottom: 4%;
}

#section1 button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#section1 span {
    font-family: 'Great Vibes';
    font-size: 180%;
    color: #003366;
}

#section1 ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 7%;
}

#section1 li {
    padding-left: 2%;
    padding-right: 2%;
    line-height: none;
}

/*section 2*/

#section2 {
    background: linear-gradient(0.25turn, rgba(168, 167, 167, 0.3), rgba(0, 0, 0, 0.3), rgba(168, 167, 167, 0.3), rgba(0, 0, 0, 0.3), rgba(168, 167, 167, 0.3));
    padding-top: 4%;
    padding-bottom: 4%;
    border: 2px solid white;
}

#section2 h2 {
    color: #89BF50;
    font-weight: 600;
    text-shadow: 3px 3px white;
    width: max-content;
    margin: auto;
    padding: 0.2%;
    border-radius: 1%;
    opacity: 0.8;
    margin-bottom: 4%;
}

#section2 #aPropos {
    display: flex;
    justify-content: space-around;
}

#section2 #blockquote {
    width: 50%;
    padding-top: 4%;
    padding-right: 9%;
    padding-left: 9%;
    font-size: 22px;
    line-height: 250%;
    color: #003366;
}

#section2 #blockquote a {
    display: flex;
    justify-content: flex-end;
    padding-top: 10%;
    color: #89BF50;
    font-weight: 700;
    text-shadow: 1px 1px 1px white;
    text-decoration: none;
}

#section2 #blockquote a:hover {
    text-decoration: underline solid #89BF50 0.5px;
    font-weight: 600;
    text-shadow: 3px 3px 3px white;
}

#aProposImg {
    width: 40%;
    height: 500px;
    background-image: url(images/aproposImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1%;
    border: 1px solid white;
}

/*section3*/
#section3 {
    background-image: url(images/pave.png);
    padding-top: 3%;
    padding-bottom: 4%;
    box-shadow: -5px 10px 20px 10px rgba(0, 0, 0, 0.3) inset;
}

#section3 h2 {
    color: #003366;
    padding-bottom: 2%;
    text-align: center;
    font-size: 36px;
}

#section3 blockquote {
    width: 40%;
    margin: auto;
    text-align: center;
    padding-bottom: 4%;
}

.cardR {
    padding: 2%;
}

.card {
    height: 430px;
    line-height: 200%;
    border: 0.5px solid grey;
    box-shadow: 30px 20px 5px grey;
}

.card-title {
    padding: 7%;
    line-height: 160%;
    border-radius: 2%;
    background-image: url(images/cielBleu.jpg);
    background-position: right;
    color: white;
}

.card a {
    text-align: end;
    margin-right: 18%;
    margin-bottom: 5%;
    color: #89BF50;
    text-shadow: 0.5px 0.5px 0.5px green;
}

.card a:hover {
    text-decoration: underline solid #89BF50 1px;
    font-weight: 800;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/*section4*/

#section4 {
    margin: 0.5%;
    border: 4mm ridge rgba(211, 220, 50, .6);
    background-image: url(images/oiseaux.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 25%;
    opacity: 0.8;
}

#section4 h2 {
    color: #003366;
    padding-bottom: 2%;
    text-align: center;
    font-size: 36px;
}

#section4 blockquote {
    text-align: center;
    padding-bottom: 3%;
    line-height: 200%;
}

#reg {
    display: flex;
    padding-top: 5%;
    padding-bottom: 3%;
}

#articleReal {
    display: flex;
}

#section4 #imagesRéalisations {
    border-radius: 2%;
    margin-right: -55%;
}

#section4 #imagesRéalisations img {
    width: 58%;
    height: 40%;
    border-radius: 2%;
    display: block;
    border: 0.5px solid white;
    box-shadow: 25px 30px 4px rgba(0, 0, 0, 0.3);
}

#section4 #imagesRéalisations img:first-child {
    margin-bottom: 1.5%;
}

/*carousel*/

.carouselReal {
    background-color: #89BF50;
    width: 500px;
    height: 45%;
    border-radius: 1%;
    border: 0.5px solid white;
}

#contenerReal {
    overflow: hidden;
    width: 650px;
    border-radius: 1%;
    border: 0.5px solid white;
    box-shadow: 30px 30px 4px rgba(0, 0, 0, 0.3);
}

#imgcarousel {
    position: relative;
    animation: 21s slidy infinite;
    width: 400%;
    height: 400px;
}

#section4 .imgReal img {
    width: 650px;
    height: 400px;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    33% {
        left: 0%;
    }

    40% {
        left: -100%;
    }

    66% {
        left: -100%;
    }

    73% {
        left: -200%;
    }

    100% {
        left: -200%
    }
}


/*footer*/

#footer {
    margin-top: 2%;
}

#footer #ul1 {
    display: flex;
    list-style: none;
    justify-content: center;
    color: #89BF50;
    font-size: 20px;
    text-shadow: 0.5px solid;
    padding-left: 6%;
    padding-right: 4%;
}

#footer ul:first-child li {
    padding-left: 8%;
    padding-right: 8%;
}

#contenerUl ul:first-child {
    display: block;
}

#contenerUl {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 18%;
    padding-right: 18%;
    text-align: center;
}

#contenerUl li {
    list-style: none;
}

#reseauxImg img {
    width: 30px;
    height: 30px;
}

#footer p:last-child {
    text-align: center;
    background-image: url(images/cielBleu.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}